.logo-main {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
}

.logo-container-main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-main .logo-text-main {
    color: var(--collection-1-font-1);
    font-family: var(--very-big-font-font-family);
    font-size: 27px;
    font-style: var(--very-big-font-font-style);
    font-weight: var(--very-big-font-font-weight);
    letter-spacing: var(--very-big-font-letter-spacing);
    line-height: var(--very-big-font-line-height);
    margin-top: 5px;
}

.logo-main .easy-knowledge-logo-main {
    height: 55px;
    opacity: 0.5;
    width: 48px;
    margin-right: 15px;
}